@using System.Globalization
@model TeamViewModel

<div class="col col-centered">
    <div class="headline-group">
        <h1>@Model.Name</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar"
                 data-team="@Model.Id"
                 style="width: @((Model.Volume * 100).ToString(CultureInfo.GetCultureInfo("en")))%; background-color: @Model.Color;"></div>
        </div>
    </div>
    <img class="w-100" src="~/img/@Model.Image" alt="@Model.Name image" />
</div>
